.main{
  width: 100%;
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 150px; 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  resize: vertical; 

  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
}

textarea[style*="italic"] {
  font-style: italic;
}

.selectorWrapper{
  width: 100%;
}

.save_reset_wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.font_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.font_family_selector, .font_weight_selector {
  background-color: #1a1a1a;
  color: #F8D798;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  
}

.font_family_selector label,.font_weight_selector label, .italic_selector label {
  margin-right: 10px; 
}

.font_family_selector select,.font_weight_selector select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  cursor: pointer;

}

.italic_selector {
  background-color: #1a1a1a;
  color: #F8D798;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; 
  display: flex;
  align-items: center; 

}

.italic_selector input {
  margin-right: 5px; 
  cursor: pointer;
}


.italic_selector input[type="checkbox"] {
  cursor: pointer;
  appearance: none; 
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  position: relative;

}

.italic_selector input[type="checkbox"]:checked::before {
  content: '\2713'; 
  font-size: 14px;
  color: #F8D798;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.italic_selector input[type="checkbox"]:checked {
  background-color: #1a1a1a;
  border-color: #F8D798;
  color: #F8D798;
}
